.match {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  min-height: 100vh;
}
.match__container {
  max-height: 400px;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  width: 100%;
  margin-inline: auto;
  background-color: var(--color-bg-light);
  border-radius: 25px;
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.2);
}

.btn__area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  max-width: 450px;
  width: 100%;
  --animate-delay: 0.5s;
}

.btn-join {
  width: 100%;
}

.matchmaking__user__info {
  width: 350px;
  height: 100%;
}

.matchmaking__user__info img {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.matchmaking__user__info h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  letter-spacing: 2px;
  font-weight: bolder;
  margin-bottom: 20px;
  background-image: linear-gradient(
    to right,
    var(--color-blue),
    var(--color-yellow)
  );
  background-clip: text;
  -webkit-background-clip: text; /* para Safari */
  color: transparent;
  text-align: center;
}
.level__current {
  color: whitesmoke;
  margin-bottom: 10px;
  font-size: xx-large;
  font-weight: bolder;
  text-shadow: 20px;
  position: absolute;
  background-color: var(--color-bg-dark);
  border: 2px solid var(--color-yellow);
  left: -20px;
  top: -10px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -3.5px 6px 0 rgba(0, 0, 0, 0.2);
}

.match__container > div > p:last-of-type {
  text-align: center;
  transform: translateY(20px);
  font-size: smaller;
}

.matchmaking__user__info p:last-child {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  letter-spacing: 2px;
  font-weight: bolder;
  margin-bottom: 20px;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
  color: whitesmoke;
}
.level__bar {
  background-color: var(--color-gray);
  height: 40px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.2);
}

.level__bar__completed {
  background-image: linear-gradient(
    to right,
    var(--color-blue),
    var(--color-yellow)
  );
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 0px 0 10px;
}

.level__xp {
  position: absolute;
  top: 10px;
  left: 33%;
  color: var(--color-gray);
}

.matchmaking__icons {
  text-align: center;
  margin-bottom: 20px;
  transform: scale(0.9);
}
